<template>
  <div class="landing__app-download">
    <a href="#">
      <img src="/img/google-play.png" alt="Download no Google Play">
    </a>
    <a href="#">
      <img src="/img/download-on-the-app-store-badge-ptbr-rgb-blk-092917.png" alt="Download na Apple Store">
    </a>
  </div>
</template>

<style lang="scss">
.landing {
  @at-root &__app-download {
    display: flex;
    justify-content: space-between;

    img {
      height: 3rem;
    }
  }
}
</style>
