<template>
  <div class="landing__app-info mt-6 mx-6 mb-8 md:flex md:flex-row md:mx-32">
    <div v-if="reverse" class="md:w-2/4">
      <div class="landing__app-preview mb-4">
        <img src="/img/group-9.png" alt="Imagem do App">
      </div>
    </div>

    <div class="md:w-2/4 md:mt-20">
      <h1 class="my-3">
        Título da Página
      </h1>
      <p>Informação curta e direta sobre o app divulgado na página com foco nas funcionalidades.</p>
      <app-download class="mt-4 mb-8 md:mr-12 md:mt-12" />
    </div>

    <div v-if="!reverse" class="md:w-2/4">
      <div class="landing__app-preview">
        <img src="/img/group-9.png" alt="Imagem do App">
      </div>
    </div>
  </div>
</template>

<script>
import AppDownload from '@/components/AppDownload.vue'

export default {
  components: {
    AppDownload
  },
  props: {
    reverse: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="scss">
.landing {
  @at-root &__app-download {
    display: flex;
    justify-content: space-between;

    img {
      height: 3rem;
    }
  }

  @at-root &__app-preview {
    display: flex;
    justify-content: center;

    img {
      width: 20rem;
    }
  }
}

@media (min-width: 768px) {
  .landing {
    @at-root &__app-preview {
      img {
        width: 28rem;
      }
    }
  }
}
</style>
