<template>
  <div class="landing__brand-list mb-12 md:mx-32">
    <h1 class="text-center mb-8 md:mb-16">
      Marcas do app em destaque
    </h1>

    <div class="md:flex md:flex-row-reverse">
      <div class="md:w-2/4">
        <div class="flex justify-between md:justify-end mx-4 mb-4">
          <div class="landing__brand-item landing__brand-item--blue md:mx-2">
            <img src="/img/logo-placeholder-2-x@2x.png" alt="Logo">
          </div>
          <div class="landing__brand-item md:mx-2">
            <img src="/img/logo-placeholder-2-x@2x.png" alt="Logo">
          </div>
          <div class="landing__brand-item md:mx-2">
            <img src="/img/logo-placeholder-2-x@2x.png" alt="Logo">
          </div>
          <div class="landing__brand-item landing__brand-item--hidden md:mx-2">
            <img src="/img/logo-placeholder-2-x@2x.png" alt="Logo">
          </div>
        </div>

        <div class="flex justify-between md:justify-end mx-4 mb-4">
          <div class="landing__brand-item md:mx-2">
            <img src="/img/logo-placeholder-2-x@2x.png" alt="Logo">
          </div>
          <div class="landing__brand-item landing__brand-item--red md:mx-2">
            <img src="/img/logo-placeholder-2-x@2x.png" alt="Logo">
          </div>
          <div class="landing__brand-item md:mx-2">
            <img src="/img/logo-placeholder-2-x@2x.png" alt="Logo">
          </div>
          <div class="landing__brand-item landing__brand-item--hidden md:mx-2">
            <img src="/img/logo-placeholder-2-x@2x.png" alt="Logo">
          </div>
        </div>

        <div class="flex justify-between md:justify-end mx-4 mb-4">
          <div class="landing__brand-item md:mx-2">
            <img src="/img/logo-placeholder-2-x@2x.png" alt="Logo">
          </div>
          <div class="landing__brand-item md:mx-2">
            <img src="/img/logo-placeholder-2-x@2x.png" alt="Logo">
          </div>
          <div class="landing__brand-item landing__brand-item--purple md:mx-2">
            <img src="/img/logo-placeholder-2-x@2x.png" alt="Logo">
          </div>
          <div class="landing__brand-item landing__brand-item--hidden md:mx-2">
            <img src="/img/logo-placeholder-2-x@2x.png" alt="Logo">
          </div>
        </div>

        <div class="hidden md:flex justify-between md:justify-end mx-4 mb-4">
          <div class="landing__brand-item md:mx-2">
            <img src="/img/logo-placeholder-2-x@2x.png" alt="Logo">
          </div>
          <div class="landing__brand-item md:mx-2">
            <img src="/img/logo-placeholder-2-x@2x.png" alt="Logo">
          </div>
          <div class="landing__brand-item md:mx-2">
            <img src="/img/logo-placeholder-2-x@2x.png" alt="Logo">
          </div>
          <div class="landing__brand-item landing__brand-item--yellow md:mx-2">
            <img src="/img/logo-placeholder-2-x@2x.png" alt="Logo">
          </div>
        </div>
      </div>

      <div class="landing__brand-text md:w-2/4">
        <div class="flex flex-col text-center mt-6 mx-4">
          <h1>Título</h1>
          <p class="mt-4">
            Marcação de texto para ser preenchido depois da página ficar pronta, enquanto isso segue com o texto marcando a página.
          </p>
        </div>

        <div class="flex flex-col text-center mt-6 mx-4">
          <h1>Título</h1>
          <p class="mt-4">
            Marcação de texto para ser preenchido depois da página ficar pronta, enquanto isso segue com o texto marcando a página.
          </p>
        </div>

        <div class="flex flex-col text-center mt-6 mx-4">
          <h1>Título</h1>
          <p class="mt-4">
            Marcação de texto para ser preenchido depois da página ficar pronta, enquanto isso segue com o texto marcando a página.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.landing {
  @at-root &__brand-item {
    height: 7rem;
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16), 0 0 10px -5px rgba(0, 0, 0, 0.22);

    img {
      width: 60%;
    }

    &--blue {
      background-color: #1da1f2;
    }

    &--red {
      background-color: #ff4600;
    }

    &--purple {
      background-color: #9746d5;
    }

    &--yellow {
      background-color: #fedb00;
    }

    &--hidden {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .landing {
    @at-root &__brand-item {
      &--hidden {
        display: flex;
      }
    }

    @at-root &__brand-text {
      h1 {
        font-size: 1.5rem;
        text-align: left;
      }

      p {
        text-align: left;
      }
    }
  }
}
</style>
