<template>
  <div class="landing__card-list py-6 md:flex md:flex-row md:px-32">
    <div v-for="(item, index) in cards" :key="index" class="landing__card-item flex m-4 p-6 shadow-lg md:w-1/3 md:p-12">
      <img :src="`/img/${item.img}`" :alt="item.title">
      <h1 class="mt-4">
        {{ item.title }}
      </h1>
      <p class="mt-4">
        {{ item.content }}
      </p>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      cards: [
        { img: 'group-33@2x.png', title: 'Título', content: 'O texto corrido com informações que vão ser preenchidas depois que a página estiver pronta.' },
        { img: 'alarm-clock-2@2x.png', title: 'Título', content: 'O texto corrido com informações que vão ser preenchidas depois que a página estiver pronta.' },
        { img: 'ic-notifications-none@2x.png', title: 'Título', content: 'O texto corrido com informações que vão ser preenchidas depois que a página estiver pronta.' }
      ]
    }
  }
}
</script>

<style lang="scss">
.landing {
  @at-root &__card-list {
    background-color: #c5f51c14;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 0.5rem;
      background-color: #fff;

      img {
        width: 3.5rem;
      }

      p {
        text-align: center;
        font-size: 0.95rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .landing {
    @at-root &__card-list {
      h1 {
        font-size: 1.5rem;
      }
    }

    @at-root &__card-item {
      height: 20rem;
    }
  }
}
</style>
