<template>
  <div class="landing__footer-content pt-3">
    <div class="px-4 md:px-24 md:flex md:flex-row">
      <div class="hidden md:flex md:items-center md:w-1/3">
        <a href="#">
          <img src="/img/chrome@2x.png" alt="Extensão do Chrome" class="h-8 mr-4">
        </a>
        <div class="md:flex md:flex-col md:justify-center">
          <b>Instale a extensão no seu Google Chrome</b>
          <p>Texto de suporte de título</p>
        </div>
      </div>
      <div class="md:w-2/3 md:flex md:flex-row md:items-center">
        <p class="md:w-2/4 landing__footer-text">
          <b>Baixe nosso app</b> e não fique de fora do que acontece no produto.
        </p>
        <app-download class="py-4 md:w-2/4" />
      </div>
    </div>

    <div class="landing__footer-about pt-10 px-4 pb-8 md:px-24 md:flex md:flex-row md:flex-wrap">
      <div class="md:w-1/4">
        <h3 class="font-bold">
          Sobre
        </h3>
        <a href="#">Quem somos</a>
        <a href="#">Imprensa</a>
        <a href="#">Trabalhe conosco</a>
        <a href="#">Política de privacidade</a>
      </div>

      <div class="md:w-1/4">
        <h3 class="font-bold mt-8 md:mt-0">
          Destaques
        </h3>
        <a href="#">Black Friday</a>
        <a href="#">Black Night</a>
        <a href="#">Dia dos Pais</a>
        <a href="#">Dia dos Namorados</a>
      </div>

      <div class="md:w-1/4">
        <h3 class="font-bold mt-8 md:mt-0">
          Contato
        </h3>
        <a href="#">Fale Conosco</a>
        <a href="#">Midia Kit / Parceria</a>
        <a href="#">Dúvidas Frequentes</a>
      </div>

      <div class="md:w-1/4">
        <h3 class="font-bold mt-8 md:mt-0">
          Redes Sociais
        </h3>

        <div class="flex items-center pb-16">
          <a href="#">
            <img src="/img/path@2x.png" alt="Facebook">
          </a>
          <a href="#">
            <img src="/img/path_2@2x.png" alt="Twitter">
          </a>
          <a href="#">
            <img src="/img/combined-shape@2x.png" alt="Instagram">
          </a>
          <a href="#">
            <img src="/img/shape@2x.png" alt="YouTube">
          </a>
        </div>
      </div>

      <div class="md:w-full md:mt-8">
        <p>
          Lojas: Adidas, Americanas, Apple, Azul, Baby, Bebê Store, Beleza na Web,
          Camisaria Colombo, Carrefour, Casas Bahia, Centauro, Cipela, Cissa Magazine,
          Dafiti, Decathlon, Dell, efácil, Época Cosméticos, Extra, Fast Shop, Fnac,
          Girafa, Insinuante, Kabum, Kanui, Lenovo, Livraria Saraiva, Magazine Luiza,
          Marisa, MegaMamute, Mobly, Netshoes, Nike, Ponto Frio, Posthaus, Ricardo Eletro,
          Sépha Perfumaria, Sephora, Shopfato, Shoptime, Sony, Sou Barato, Submarino,
          Submarino Viagens, Super Muffato.
          <b>Se sua marca não está listada, entre em contato com a nossa equipe.</b>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import AppDownload from '@/components/AppDownload.vue'

export default {
  components: {
    AppDownload
  }
}
</script>

<style lang="scss">
.landing {
  @at-root &__footer-content {
    background-color: #a5d207;
  }

  @at-root &__footer-about {
    background-color: #415400;
    color: #fff;

    a {
      margin-top: 1rem;
      display: block;
      font-weight: 300;
    }

    img {
      width: 1.8rem;
      margin-right: 3rem;
    }

    p {
      font-size: 1rem;
      font-weight: 300;
    }

    b {
      font-weight: 700;
    }
  }
}

@media (min-width: 768px) {
  .landing {
    @at-root &__footer-content {
      p {
        font-size: 0.95rem;
      }
    }

    @at-root &__footer-text {
      padding-left: 2rem;
    }

    @at-root &__footer-about {
      p {
        font-size: 0.9rem;
      }
    }
  }
}
</style>
