<template>
  <div class="landing__header my-2 md:mx-32">
    <img class="landing__logo" src="/img/group-12@2x.png" alt="Logo">
    <div class="landing__user-actions mr-6 md:mr-32">
      <a href="#">
        <img class="landing__user-icon" src="/img/user@2x.png" alt="User">
      </a>
      <div class="landing__user-text hidden">
        <a class="ml-4" href="#">Entrar</a>
        <p class="mx-2">
          |
        </p>
        <a href="#">Criar Conta</a>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.landing {
  @at-root &__header {
    display: flex;
    width: 100%;
    height: 4rem;
    align-items: center;
    justify-content: center;
  }

  @at-root &__user-actions {
    position: absolute;
    right: 0;
    display: flex;
  }

  @at-root &__logo {
    height: 3rem;
    width: 8rem;
  }

  @at-root &__user-icon {
    height: 1.5rem;
    width: 1.5rem;
  }
}

@media (min-width: 768px) {
  .landing {
    @at-root &__header {
      justify-content: flex-start;
    }

    @at-root &__user-text {
      display: flex;
    }
  }
}
</style>
