<template>
  <div class="landing__product-list px-4 mb-24">
    <div class="landing__products-header md:mx-24">
      <h1>Produtos mais acessados</h1>
      <a href="#">Ver todos</a>
    </div>

    <div class="md:flex md:items-center md:justify-center md:mx-8">
      <img @click="swiperPrev()" class="hidden landing__product-control landing__product-control--left md:block" src="/img/seta.png" alt="Produto Anterior">

      <div class="landing__product-container md:flex-grow">
        <div ref="productSwiper" class="swiper-container">
          <div class="swiper-wrapper">
            <div v-for="(item, index) in products" :key="index" class="landing__product-item swiper-slide relative hover:shadow-md cursor-pointer">
              <div :class="getTagClass(item.percentage)" class="landing__product-tag absolute">
                <img v-if="item.percentage < 0" src="/img/triangle-copy@2x.png" alt="Caiu">
                <img v-else src="/img/triangle-copy_2@2x.png" alt="Subiu">
                <span>$ {{ getProductDiscount(item.price,item.percentage) }}</span>
              </div>
              <img :src="item.image" :alt="item.title" class="flex-grow mt-12 landing__product-picture">
              <div class="flex flex-col items-center flex-grow">
                <h2 class="text-center mx-4 mb-8">
                  {{ item.title }}
                </h2>
                <div class="flex flex-col flex-grow justify-end text-center pb-4">
                  <h3>Vendido por <b>{{ getStoreName(item.storeid) }}</b></h3>
                  <h1 class="mt-4">
                    {{ formatPrice(item.price) }}
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <img @click="swiperNext()" class="hidden landing__product-control landing__product-control--right md:block" src="/img/seta.png" alt="Próximo Produto">
    </div>
  </div>
</template>

<script>
export default {
  props: {
    stores: {
      type: Array,
      default: () => []
    },
    products: {
      type: Array,
      default: () => []
    }
  },
  mounted () {
    // eslint-disable-next-line no-new, no-undef
    new Swiper('.swiper-container', { spaceBetween: 30 })
  },
  methods: {
    swiperNext () {
      this.$refs.productSwiper.swiper.slideNext()
    },

    swiperPrev () {
      this.$refs.productSwiper.swiper.slidePrev()
    },

    getProductDiscount (price, percentage) {
      if (!price || !percentage) {
        return 0
      }

      const value = price + (price * percentage)
      const number = Math.ceil(value)
      return Math.abs(number)
    },

    getTagClass (percentage) {
      const element = 'landing__product-tag'

      if (percentage > 0) {
        return `${element}--up`
      }

      if (percentage < 0) {
        return `${element}--down`
      }

      return null
    },

    getStoreName (id) {
      const store = this.stores.find(item => item.id === id)

      if (!store) {
        return '-'
      }

      return store.name
    },

    formatPrice (price) {
      if (!price) {
        return '-'
      }

      const value = Number(price).toFixed(2)
      const localized = Number(value).toLocaleString()

      return `R$ ${localized}`
    }
  }
}
</script>

<style lang="scss">
.swiper-container {
  width: 20rem;
  height: 32rem;
  overflow: visible !important;
  margin: 0 !important;
}

.landing {
  @at-root &__product-list {
    width: 100%;
    overflow: hidden;
  }

  @at-root &__products-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      font-weight: 700;
      color: #13bc4a;
    }
  }

  @at-root &__product-tag {
    background-color: #848484;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    left: 0;
    top: 1rem;
    width: 6rem;

    img {
      width: 1rem;
      height: 1rem;
      margin-right: 0.5rem;
    }

    span {
      color: #fff;
    }

    &--up {
      background-color: #c1180f;
    }

    &--down {
      background-color: #13bc4a;
    }
  }

  @at-root &__product-item {
    height: 30rem;
    width: 19rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
    border: #bfbfbfc4 2px solid;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 1rem;

    b {
      color: #3cadd1;
    }

    h1 {
      color: #5555d9;
    }

    h2 {
      color: #4e4c4dd4;
    }
  }

  @at-root &__product-picture {
    width: 100%;
    max-width: 10rem;
    max-height: 10rem;
    padding-bottom: 1rem;
  }

  @at-root &__product-control {
    height: 4rem;
    cursor: pointer;

    @at-root &--left {
      margin-right: 1rem;
      transform: rotate(180deg);
    }

    @at-root &--right {
      margin-left: 1rem;
    }
  }
}

@media (min-width: 768px) {
  .landing {
    @at-root &__product-item {
      h2 {
        font-size: 0.9rem;
      }
    }

    @at-root &__product-container {
      max-width: 65rem;
      overflow: hidden;
    }
  }
}

@media (min-width: 1400px) {
  .landing {
    @at-root &__product-container {
      max-width: 88rem;
      overflow: hidden;
    }
  }
}
</style>
