<template>
  <div class="landing__video-content mx-4 mt-12 mb-24 md:px-48">
    <h1>Vídeo promocional do app</h1>
    <p class="mt-3 mb-6">
      O vídeo mostra todas as funcionalidades e você vai conferir como funciona e ver
      como é fácil e simples de usar o app, falando do uso e seus benefícios.
    </p>

    <div>
      <img src="/img/youtube-1.png" alt="Vídeo promocional do App">
    </div>
  </div>
</template>

<style lang="scss">
.landing {
  @at-root &__video-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      text-align: center;
    }

    p {
      text-align: center;
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 16rem;
      background-color: #80808075;
    }
  }
}

@media (min-width: 768px) {
  .landing {
    @at-root &__video-content {
      div {
        height: 30rem;
      }
    }
  }
}

@media (min-width: 1400px) {
  .landing {
    @at-root &__video-content {
      div {
        width: 60rem;
      }
    }
  }
}
</style>
