body {
  font-family: 'Open Sans', sans-serif;
  color: #4e4c4d;
}

h1 {
  font-size: 1.3rem;
  font-weight: 700;
}

h2 {
  font-size: 1.05rem;
  font-weight: 700;
}

p {
  font-size: 1.05rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.3rem;
  }

  p {
    font-size: 1.25rem;
  }
}
