<template>
  <div class="min-h-screen flex flex-col mx-auto overflow-x-hidden relative">
    <img src="/bg/bg-1.svg" alt="background gradient 1" class="background-top">
    <img src="/bg/bg-2.svg" alt="background gradient 2" class="background-mid">
    <img src="/bg/bg-3.svg" alt="background gradient 3" class="background-bot">

    <header-content />
    <app-info />
    <card-list />
    <video-content />
    <brand-list />
    <app-info reverse />
    <product-list :products="products" :stores="stores" />
    <footer-content />
  </div>
</template>

<script>
import HeaderContent from '@/components/HeaderContent.vue'
import AppInfo from '@/components/AppInfo.vue'
import CardList from '@/components/CardList.vue'
import VideoContent from '@/components/VideoContent.vue'
import BrandList from '@/components/BrandList.vue'
import ProductList from '@/components/ProductList.vue'
import FooterContent from '@/components/FooterContent.vue'

export default {
  components: {
    HeaderContent,
    AppInfo,
    CardList,
    VideoContent,
    BrandList,
    ProductList,
    FooterContent
  },
  async asyncData ({ $axios }) {
    const [{ data: products }, { data: stores }] = await Promise.all([
      $axios.get('https://api.myjson.com/bins/1gnnec'),
      $axios.get('https://api.myjson.com/bins/nher8')
    ])

    return { products: products.slice(0, 10), stores }
  }
}
</script>

<style>
.background-top {
  position: absolute;
  z-index: -1;
  right: -17rem;
}

.background-mid {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 35rem;
}

.background-bot {
  position: absolute;
  z-index: -1;
  right: -7rem;
  top: 140rem;
}

@media (min-width: 768px) {
  .background-top {
    top: 0;
    right: 0;
  }

  .background-mid {
    left: 0;
    top: 35rem;
  }

  .background-bot {
    right: 0;
    top: 140rem;
  }
}
</style>
